.item{
    padding-top: 3rem;
    text-align: center
}
.item-img{
    position: relative;
}
.item-brand{
    position: absolute;
    top: 0
}
p.card-text{
    min-height: 72px;
}
.list-scroll{
    overflow-y: auto;
    max-height: 700px;
}